@model IEnumerable<TareasPendientes.Models.Models.Tarea>
@{
    ViewData["Title"] = "Inicio";
}


<a asp-action="Create" asp-controller="Home" class="btn btn-outline-info btn-sm"><i class="fas fa-check"></i> Crear Nuevo</a>
<div class="row mt-4">
    <h3><i class="fas fa-list"></i> Listado de Tareas</h3>
    <div class="col-md-12">
        <div class="card border-0 shadow-lg">
            <div class="card-body">
                <table class="table table-hover table-striped display" id="example" style="width:100%">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>TITULO</th>
                            <th>DESCRIPCION</th>
                            <th>FECHA CREACION</th>
                            <th>FECHA VENCIMIENTO</th>
                            <th>COMPLETADA</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Titulo</td>
                                <td>@item.Descripcion</td>
                                <td>@item.FechaCreacion</td>
                                <td>@item.FechaVencimiento</td>
                                <td>@item.Completada</td>
                                <td>
                                    <a asp-controller="Home" asp-action="View" asp-route-id="@item.Id">Ver</a>
                                    <a asp-controller="Home" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                                    <a asp-controller="Home" asp-action="Delete" asp-route-id="@item.Id" onclick="return confirm('¿Estás seguro de que deseas eliminar esta tarea?');">Eliminar</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<script>
    function confirmarEliminacion(id) {
        if (confirm('¿Estás seguro de que deseas eliminar esta tarea?')) {
            window.location.href = '/TareasController/EliminarTarea/' + id;
        }
    }    
</script>

